<div class="container">
  <h2 class="text-center">Welcome to Next Stop</h2>
  <div class="well">
    <h4 class="text-center">To get started, select a Route for Stop information.</h4>
    <h4 class="text-center">For transfer information, you can then select your preferred stop.</h4>
  </div>

  <div class="well">
    <div class="row text-center">
      <h3>Please Select a Route</h3>
      <%= form_tag(route_path, method: :get) do %>
        <%= collection_select :route, :id, @routes, :id, :short_name, {}, class: 'input-sm' %>
        <br><br>
        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>