<div class="container">
  <div class="well">
    <h4>Please Select a Route.</h4>
    <%= form_tag(route_path, method: :get) do %>
      <%= collection_select :route, :id, @routes, :id, :short_name %>
      <br><br>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
</div>