<h2 class="text-center">Buses for this stop <%= @stop_name %></h2>

<div class="container">
  <div class="well">
    <ul>
      <% @routes.each do |route| %>
        <li class="stopTime">
          <div class="stopTime-name">
            <%= route.short_name %>
          </div>
          <div class="stopTime-time">
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>