@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootswatch';

.trip {
  width: 300px;
  float: left;
  .stopTime {
    list-style: none;

    .stopTime-name {
      font-weight: bold;
    }
  }
}