@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: skyblue;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.trip {
  width: 300px;
  float: left;
  .stopTime {
    list-style: none;

    .stopTime-name {
      font-weight: bold;
    }
  }
}